{{template "base/base.html" .}}
{{template "base/base_common.html" .}}
{{define "meta"}}
    <title>{{i18n .Lang "app_name"}}</title>
{{end}}
{{define "body"}}
{{if .Error}}
<div class="alert alert-danger">
    <p>{{i18n .Lang "model.error_wargame"}}</p>
</div>
{{else}}
<div class="alert alert-success">
    <p>{{i18n .Lang "model.success_wargame"}}</p>
</div>
{{end}}
{{end}}
