{{template "admin/base/base.html" .}}
{{template "admin/base/base_common.html" .}}
{{define "meta"}}<title>{{i18n .Lang "model.admin_post"}} - {{i18n .Lang "app_name"}}</title>{{end}}
{{define "body"}}
<div class="row">
    <div id="content">
        <div class="col-md-2">
            {{template "admin/sidenav.html" .}}
        </div>
        <div class="col-md-10">
            {{if .Error}}
            <div class="alert alert-danger">
                {{.Error}}
            </div>
            {{end}}
            <div class="box">
                <div class="cell first breadcrumb">
                    <a href="{{.AppUrl}}admin"><i class="icon icon-home"></i></a><i class="divider icon-angle-right"></i><a href="{{.AppUrl}}admin/post">{{i18n .Lang "model.admin_post"}}</a>
                </div>
                <div class="cell last slim">
                    {{if .flash.DeleteSuccess}}
                    <div class="alert alert-info">
                        {{i18n .Lang "admin.success_delete"}}
                    </div>
                    {{end}}
                    <p>
                        <a href="/admin/post/new" class="btn btn-default">{{i18n .Lang "model.new_post"}}</a>
                    </p>
                    <table class="table table-hover table-condensed color-link">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>{{i18n .Lang "model.post_title"}}</th>
                                <th>{{i18n .Lang "model.user_username"}}</th>
                                <th>{{i18n .Lang "model.topic_name"}}</th>
                                <th>{{i18n .Lang "model.category_name"}}</th>
                                <th>{{i18n .Lang "model.post_browsers"}}</th>
                                <th>{{i18n .Lang "model.post_replys"}}</th>
                                <th>{{i18n .Lang "model.post_favorites"}}</th>
                                <th>{{i18n .Lang "model.post_best"}}</th>
                                <th>{{i18n .Lang "model.created"}}</th>
                                <th>{{i18n .Lang "model.updated"}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $post := .Objects}}
                            <tr>
                                <td><a href="{{$.AppUrl}}admin/post/{{$post.Id}}">{{$post.Id}}</a></td>
                                <td><a href="{{$.AppUrl}}admin/post/{{$post.Id}}">{{$post.Title}}</a></td>
                                <td><a href="{{$.AppUrl}}admin/user/{{$post.User.Id}}">{{$post.User.UserName}}</a></td>
                                <td><a href="{{$.AppUrl}}admin/topic/{{$post.Topic.Id}}">{{$post.Topic.Name}}</a></td>
                                <td><a href="{{$.AppUrl}}admin/category/{{$post.Category.Id}}">{{$post.Category.Name}}</a></td>
                                <td>{{$post.Browsers}}</td>
                                <td>{{$post.Replys}}</td>
                                <td>{{$post.Favorites}}</td>
                                <td>{{$post.IsBest|boolicon}}</td>
                                <td>{{$post.Created|datetime}}</td>
                                <td>{{$post.Updated|datetime}}</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    {{template "base/paginator.html" .}}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
