{{template "base/base.html" .}}
{{template "base/base_common.html" .}}
{{define "meta"}}
    <title>{{.TheUser.NickName}} - {{i18n .Lang "app_name"}}</title>
{{end}}
{{define "body"}}
<div id="content" class="user-page">
    <div class="row">
        <div class="col-md-3">
            {{template "user/component/user-info.html" .}}
        </div>
        <div class="col-md-9">
            {{if .TheUserFollowTopics}}
            <div class="box">
                <div class="breadcrumb">
                    {{i18n .Lang "user.following_topics" .TheUser.NickName}}
                </div>
                <div class="nav-topics">
                    {{template "post/component/nav-topics.html" dict "Topics" .TheUserFollowTopics "Lang" .Lang}}
                </div>
                {{if .TheUserFollowTopicsMore}}
                <div class="more">
                    <div class="pull-right"><a href="{{.TheUser.UserName}}/follow/topics">{{i18n .Lang "more"}} <span class="glyphicon glyphicon-arrow-right"></span></a></div>
                    <span class="clearfix"></span>
                </div>
                {{end}}
            </div>
            {{end}}
            {{if .TheUserFavoritePosts}}
            <div class="box">
                <div class="breadcrumb">
                    {{i18n .Lang "user.favorite_posts" .TheUser.NickName}}
                </div>
                <div class="post-list">
                    {{template "post/component/posts.html" dict "root" . "Posts" .TheUserFavoritePosts}}
                </div>
                {{if .TheUserFavoritePostsMore}}
                 <div class="more">
                    <div class="pull-right"><a href="{{.TheUser.UserName}}/favorite/posts">{{i18n .Lang "more"}} <span class="glyphicon glyphicon-arrow-right"></span></a></div>
                    <span class="clearfix"></span>
                </div>
                {{end}}
            </div>
            {{end}}
            <div class="box">
                <div class="breadcrumb">
                    {{i18n .Lang "user.recent_submited_posts"}}
                </div>
                {{if .TheUserPosts}}
                <div class="post-list">
                    {{template "post/component/posts-user-home.html" dict "root" . "Posts" .TheUserPosts}}
                </div>
                <div class="more">
                    <span class="pull-right"><a href="{{.TheUser.Link}}/posts">{{i18n .Lang "user.more_posts"}} <span class="glyphicon glyphicon-arrow-right"></span></a></span>
                    <span class="clearfix"></span>
                </div>
                {{else}}
                <div class="last">
                    {{i18n .Lang "user.lazy_info"}}
                </div>
                {{end}}
            </div>
            <div class="box">
                <div class="breadcrumb">
                    {{i18n .Lang "user.recent_comments"}}
                </div>
                {{if .TheUserComments}}
                <div class="post-comments">
                    {{template "post/component/comments-user-home.html" dict "root" . "Comments" .TheUserComments}}
                </div>
                <div class="more">
                    <span class="pull-right"><a href="{{.TheUser.Link}}/comments">{{i18n .Lang "user.more_comments"}} <span class="glyphicon glyphicon-arrow-right"></span></a></span>
                    <span class="clearfix"></span>
                </div>
                {{else}}
                <div class="last">
                    {{i18n .Lang "user.lazy_info"}}
                </div>
                {{end}}
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
{{end}}
