<!DOCTYPE html>
<html>
<head>
	{{template "base/head.html" .}}
	{{template "head" .}}
</head>
<body id="front">
	<div id="wrapper">
		{{template "header" .}}
		<div id="main" class="container">
			{{template "body" .}}
	    </div>
	</div>
	{{template "footer" .}}
</body>
</html>
