<footer id="footer">
	<div class="container">
		<table class="basic-info">
			<tbody>
				<tr>
					<td align="left">
						{{i18n .Lang "app_name"}} | <a href="/about">{{i18n .Lang "about"}}</a> | <a href="/faq">FAQ</a>
					</td>
					<td align="right">
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="W74NR5SACUFA8">
							<input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal. La forma rápida y segura de pagar en Internet.">
							<img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1">
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</footer>
<div class="return-top" title="">
  <span class="s"></span>
  <span class="b"></span>
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
