{{template "mail/base.html" .}}
{{define "title"}}
	{{if eq .Lang "es-ES"}}
		 {{.User.NickName}}, bienvenido a {{i18n .Lang "app_name"}}
	{{end}}
	{{if eq .Lang "en-US"}}
		 {{.User.NickName}}, welcome to {{i18n .Lang "app_name"}}
	{{end}}
{{end}}
{{define "body"}}
	{{if eq .Lang "es-ES"}}
		<p style="margin:0;padding:0 0 9px 0;">Clica en el siguiente link para verificar su email en {{.ActiveCodeLives}} horas</p>
		<p style="margin:0;padding:0 0 9px 0;">
			<a href="{{.AppUrl}}active/{{.Code}}">{{.AppUrl}}active/{{.Code}}</a>
		</p>
		<p style="margin:0;padding:0 0 9px 0;">Copialo y pegalo en tu navegador si no funciona</p>
	{{end}}
	{{if eq .Lang "en-US"}}
		<p style="margin:0;padding:0 0 9px 0;">Please click following link to verify your e-mail in {{.ActiveCodeLives}} hours</p>
		<p style="margin:0;padding:0 0 9px 0;">
			<a href="{{.AppUrl}}active/{{.Code}}">{{.AppUrl}}active/{{.Code}}</a>
		</p>
		<p style="margin:0;padding:0 0 9px 0;">Copy and paste it to your browser if it's not working.</p>
	{{end}}
{{end}}
