{{template "mail/base.html" .}}
{{define "title"}}
	{{if eq .Lang "es-ES"}}
		 {{.User.NickName}}, resetear tu contraseña
	{{end}}
	{{if eq .Lang "en-US"}}
		{{.User.NickName}}, reset your password
	{{end}}
{{end}}
{{define "body"}}
	{{if eq .Lang "es-ES"}}
		<p style="margin:0;padding:0 0 9px 0;">Clica en el siguiente link para resetear tu contraseña en {{.ResetPwdCodeLives}} horas</p>
		<p style="margin:0;padding:0 0 9px 0;">
			<a href="{{.AppUrl}}reset/{{.Code}}">{{.AppUrl}}reset/{{.Code}}</a>
		</p>
		<p style="margin:0;padding:0 0 9px 0;">Copia y pegalo en tu navegador si no funciona.</p>
	{{end}}
	{{if eq .Lang "en-US"}}
		<p style="margin:0;padding:0 0 9px 0;">Please click following link to reset your password in {{.ResetPwdCodeLives}} hours</p>
		<p style="margin:0;padding:0 0 9px 0;">
			<a href="{{.AppUrl}}reset/{{.Code}}">{{.AppUrl}}reset/{{.Code}}</a>
		</p>
		<p style="margin:0;padding:0 0 9px 0;">Copy and paste it to your browser if it's not working.</p>
	{{end}}
{{end}}
