{{template "admin/base/base.html" .}}
{{template "admin/base/base_common.html" .}}
{{define "meta"}}<title>{{i18n .Lang "model.admin_wargame"}} - {{i18n .Lang "app_name"}}</title>{{end}}
{{define "body"}}
<div class="row">
    <div id="content">
      <div class="col-md-2">
          {{template "admin/sidenav.html" .}}
      </div>
      <div class="col-md-10">
          {{if .Error}}
          <div class="alert alert-danger">
              {{.Error}}
          </div>
          {{end}}
          <div class="box">
              <div class="cell first breadcrumb">
                  <a href="{{.AppUrl}}admin"><i class="icon icon-home"></i></a><i class="divider icon-angle-right"></i><a href="{{.AppUrl}}admin/wargame">{{i18n .Lang "model.admin_wargame"}}</a>
              </div>
              <div class="cell last slim">
                  {{if .flash.DeleteSuccess}}
                  <div class="alert alert-info">
                      {{i18n .Lang "admin.success_delete"}}
                  </div>
                  {{end}}
                  <p>
                      <a href="/admin/wargame/new" class="btn btn-default">{{i18n .Lang "model.new_wargame"}}</a>
                  </p>
                  <table class="table table-hover table-condensed color-link">
                      <thead>
                          <tr>
                              <th>Id</th>
                              <th>{{i18n .Lang "model.wargame_title"}}</th>
                              <th>{{i18n .Lang "model.wargame_points"}}</th>
                              <th>{{i18n .Lang "model.wargame_hash"}}</th>
                              <th>{{i18n .Lang "model.wargame_users"}}</th>
                              <th>{{i18n .Lang "model.wargame_isactive"}}</th>
                          </tr>
                      </thead>
                      <tbody>
                          {{range $wargame := .Objects}}
                          <tr>
                              <td><a href="{{$.AppUrl}}admin/wargame/{{$wargame.Id}}">{{$wargame.Id}}</a></td>
                              <td><a href="{{$.AppUrl}}admin/wargame/{{$wargame.Id}}">{{$wargame.Title}}</a></td>
                              <td>{{$wargame.Points}}</td>
                              <td>{{$wargame.Hash}}</td>
                              <td>{{$wargame.Users}}</td>
                              <td>{{$wargame.IsActive|boolicon}}</td>
                          </tr>
                          {{end}}
                      </tbody>
                  </table>
                  {{template "base/paginator.html" .}}
                  <div class="clearfix"></div>
              </div>
          </div>
      </div>
    </div>
</div>
{{end}}
