{{if or .User.Github .User.Twitter .User.Google .User.Linkedin}}
<span class="socials pull-right">
    {{if .User.Github}}
        <a target="_blank" href="https://github.com/{{.User.Github}}">
            <i class="icon-github-alt"></i>
        </a>
    {{end}}
    {{if .User.Twitter}}
        <a target="_blank" href="https://twitter.com/{{.User.Twitter}}">
            <i class="icon-twitter-sign"></i>
        </a>
    {{end}}
    {{if .User.Google}}
        <a target="_blank" href="https://plus.google.com/{{.User.Google}}">
            <i class="icon-google-plus-sign"></i>
        </a>
    {{end}}
    {{if .User.Linkedin}}
        <a target="_blank" href="http://www.linkedin.com/in/{{.User.Linkedin}}">
            <i class="icon-linkedin-sign"></i>
        </a>
    {{end}}
</span>
<span class="clearfix"></span>
{{end}}
